<div class="logo-and-nav">
    <a href="/">
        <img src="/images/noun_Tent_2517.svg" alt="Tent Logo" class="logo-icon">
        <span class="logo-text">Sleep<span class="highlight">Outside</span></span>
    </a>

    <nav class="site-nav">
        <a href="/product_listing/index.html?category=tents">Tents</a>
        <a href="/signup/index.html" class="signup-link">Sign Up</a>
    </nav>
</div>
<div class="cart">
    <a href="/cart/index.html">
        <svg fill="#000000" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg" width="25px" height="25px">
            <path
                d="M 12 10 L 12 6 C 12 3.791 10.209 2 8 2 C 5.791 2 4 3.791 4 6 L 4 10 L 1 10 L 1 12 L 2 12 L 2 28 C 2 29.105 2.895 30 4 30 L 28 30 C 29.105 30 30 29.105 30 28 L 30 12 L 31 12 L 31 10 L 28 10 L 28 6 C 28 3.791 26.209 2 24 2 C 21.791 2 20 3.791 20 6 L 20 10 L 12 10 Z M 6 6 C 6 4.895 6.895 4 8 4 C 9.105 4 10 4.895 10 6 L 10 10 L 6 10 L 6 6 Z M 22 6 C 22 4.895 22.895 4 24 4 C 25.105 4 26 4.895 26 6 L 26 10 L 22 10 L 22 6 Z M 4 14 L 28 14 L 28 28 L 4 28 L 4 14 Z" />
        </svg>
        <span class="cart-total">0</span>
    </a>
</div>